- content_for :bodyClass do
	index

.selector-wrapper
	%h1 Are you a...
	
	%a{:href=>"/professionals"}
		.selector#Pro
			%h2 Professional
	
	%a{:href=>"/social-entrepreneur"}
		.selector#SE
			%h2 Social Entrepreneur 
	
	
