%h1 企业专家


%p 朝九晚五的公司生活是不是有点无趣？

%p 每周6小时

%p 现学现卖最顶尖的技能，你将在这里通过工作坊学习，再成为工作坊的引导者，不但自己升级，还惠及公益与社会。

%p 充实生命，闲暇时，你的专业技能能让一大群公益组织变得更有效率更有活力。

%p 四个方向可供选择。

%ul
  %li HCD
  %li 人力资源
  %li 产品服务
  %li 融资策略

%p 公益组织会提交众多项目，您可以选出自己最感兴趣的项目，用带领工作坊的方式参与其中，并成为他们的咨询师。 

%p 虽然没有收入，至少不至于亏本，您的车马劳顿餐费，求抱大腿的公益组织们已经承担。

%a.button{:href=>"https://jinshuju.net/f/4RAuxd"} 我要报名