%h1 公益组织

%label 启动工作坊：
%ul
  %li - 服务重构，每个项目都在解决一个问题，将项目重构成一个问题的对应解决方案，为项目的后继发展提供坚实的基础。
  %li - 售卖，如何让项目获得支持和回报，包括项目的包装，咨询的寻找与接洽。

%label 合作推荐: 
%ul
  %li 我们和你一起来完善项目的定义与推介，与你一起争取来自企业的人才支持。

%label 主题深度工作坊：
%ul
  %li - HCD产品服务设计，你能学会用顶级设计公司的方法，来发明或重构出最具创造力和实践性的解决方案。
  %li - 产品服务营销策略，你会从这里了解到，商业公司如何操作微博，实地，广告营销。
  %li - 人力资源策略，临时工，实习生，长期员工，晋升，挖墙脚，商业公司在人力资源上保有竞争力和持续性的秘密。
  %li - 融资策略，如何使自己的项目获得最高的融资机会。以及如何管理融资风险。

%p 与工作坊内容对应一套工具，包好各种工作表和流程规则说明，让你在工作坊之后，能轻松使用新的方法为自己服务。

%p 经过一轮海选，您还有20%的超高机会，被商业公司选为支持项目，该项目会成为后期一系列工作坊的主题，来自腾讯，TW，洛可可等知名公司的人才将有针对性的提升你们的组织能力与项目质量。

%a.button{:href=>"https://jinshuju.net/f/zq5aPs"} 我要报名